.title {
  text-align: center;
  font-family: sans-serif;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.link {
    text-decoration: none;
    font-family: cursive;
}
.link:hover {
    color: red;
    text-decoration: underline;
}
.link:active {
    color: green;
    text-decoration: bold;
}
